<div class="row bd-highlight mb-3 record">
  <div class="col-lg-3 col-xl-2 patient-info primary-dark">
      <div class="patient-data primary-darker">
        <h1 class="text-white">{{ p.name }}</h1>
        <dl>
          <dt>DOB:</dt>
          <dd>{{p.dob.format('DD/MM/YYYY')}}</dd>

          <dt>Gender:</dt>
          <dd>{{p.gender}}</dd>

          <dt>Postcode:</dt>
          <dd>{{p.postcode}}</dd>

          <dt>GP:</dt>
          <dd>{{p.gp.name}}</dd>
        </dl>
      </div>
      <div class="patient-detail">
          <div class="d-flex bg-primary mb-2 p-2">
              <div class="mr-2 align-self-center"><span class="fas fa-calendar-alt fa-2x"></span></div>
              <div class="ml-2">
                <h5 class="mt-0">Admission Date</h5>
                {{p.admissionDate.format('DD/MM/YYYY')}}
              </div>
          </div>
          <div class="d-flex bg-primary mb-2 p-2">
              <div class="mr-2 align-self-center"><span class="fas fa-user-md fa-2x"></span></div>
              <div class="ml-2">
                <h5 class="mt-0">Cardiology Nurse</h5>
                {{p.cardiologyNurse.name}}
              </div>
          </div>
          <div class="d-flex bg-primary mb-2 p-2">
              <div class="mr-2 align-self-center"><span class="fas fa-bed fa-2x"></span></div>
              <div class="ml-2">
                <h5 class="mt-0">Ward</h5>
                {{p.ward.name}}
              </div>
          </div>
      </div>
  </div>
  <div class="col p-4 w-100">
    <div class="card-group">
        <div class="card">
          <div class="bg-primary p-3 text-center">
            <span class="fas fa-heartbeat fa-4x text-white"></span>
            <h5 class="card-title text-white">Heart Failure Details</h5>
          </div>
          <div class="card-body">
            <dl>
                <dt>HF Type</dt>
                <dd>{{p.hfType}}</dd>
      
                <dt>Ischemic Aetiology</dt>
                <dd>{{p.aetiology}}</dd>
      
                <dt>Co-Mobidities</dt>
                <dd>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let m of p.coMorbities">{{m.name}}</li>
                  </ul>
                </dd>
              </dl>
          </div>
        </div>
        <div class="card">
          <div class="bg-primary p-3 text-center">
            <span class="fas fa-stethoscope fa-4x text-white"></span>
            <h5 class="card-title text-white">Physical Examinations</h5>
          </div>
          <div class="card-body">
            <div class="list-group">
              <a href="#" *ngFor="let ex of p.examinations" class="list-group-item list-group-item-action">{{ex.name}}</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="bg-primary p-3 text-center">
            <span class="fas fa-prescription-bottle-alt fa-4x text-white"></span>
            <h5 class="card-title text-white">Treatment</h5>
          </div>
          <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item list-group-item-action list-group-item-primary"  (click)="t1 = !t1">
                  <input type="checkbox" [(ngModel)]="t1" class="mr-2" />
                  <span>IV Diuretics</span>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-success"  (click)="t2 = !t2">
                    <input type="checkbox" [(ngModel)]="t2" class="mr-2" />
                    <span>Ace Inhibitors</span>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-success"  (click)="t3 = !t3">
                    <input type="checkbox" [(ngModel)]="t3" class="mr-2" />
                    <span>Beta Blockers</span>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-success"  (click)="t4 = !t4">
                    <input type="checkbox" [(ngModel)]="t4" class="mr-2" />
                    <span>MRA</span>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-success"  (click)="t5 = !t5">
                    <input type="checkbox" [(ngModel)]="t5" class="mr-2" />
                    <span>Entresto</span>
                  </li>
                  <li class="list-group-item list-group-item-action list-group-item-dark"  (click)="t6 = !t6">
                      <input type="checkbox" [(ngModel)]="t6" class="mr-2" />
                      <span>Nitrate/Hydrallazine</span>
                      <div *ngIf="t6" class="form-group">
                          <label for="exampleFormControlTextarea1">Notes</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                  </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 p-4">
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ceiling of Care</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" (click)="p.ituSuitable = !p.ituSuitable">
                  <input type="checkbox" [(ngModel)]="p.ituSuitable" class="mr-2" />
                  <span>Suitable for ITU</span>
                </li>
                <li class="list-group-item list-group-item-action" (click)="p.ccuForCpap = !p.ccuForCpap">
                    <input type="checkbox" [(ngModel)]="p.ccuForCpap" class="mr-2" />
                    <span>CCU for CPAP</span>
                  </li>
                  <li class="list-group-item list-group-item-action" (click)="p.wardBasedCare = !p.wardBasedCare">
                      <input type="checkbox" [(ngModel)]="p.wardBasedCare" class="mr-2" />
                      <span>Ward based care</span>
                    </li>
              </ul>
          </div>
        </div>
      </div> 
      <div class="col-md-4 p-4">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Consultation Info</h5>
          </div>
          <div class="form-group px-3">
              <label>Initial Consultation Date</label>
              <input type="date" class="form-control" />
          </div>
          
        </div>

      </div>     
      </div>
  
  </div>
</div>
