<div class="m-4">
  <div class="alert alert-danger">
      <h2>New Patients</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="text-center" style="width: 50px;">D</th>
            <th class="text-center" style="width: 50px;">E</th>
            <th class="text-center" style="width: 50px;">C</th>
            <th class="text-center" style="width: 50px;">P</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of patients" (click)="selectPatient(p)">
            <td>{{p.name}}</td>
            <td>{{p.ward.name}}</td>
            <td class="text-center"><span class="fas fa-check"></span></td>
            <td class="text-center"><span class="fas fa-check"></span></td>
            <td class="text-center"><span class="fas fa-check"></span></td>
            <td class="text-center"><span class="fas fa-check"></span></td>
          </tr>
          <tr>
            <td>Mary Clarke</td>
            <td>Ward 4<br/>Bed 6</td>
            <td class="text-center"><span class="fas fa-check"></span></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-warning">
      <h2>Inpatients Receiving Treatment</h2>
      <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th class="text-center" style="width: 50px;">D</th>
              <th class="text-center" style="width: 50px;">E</th>
              <th class="text-center" style="width: 50px;">C</th>
              <th class="text-center" style="width: 50px;">P</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jack Thomas</td>
              <td>Ward 2<br/>Bed 1</td>
              <td class="text-center"><span class="fas fa-check"></span></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div  class="alert alert-success">
      <h2>Inpatients Waiting Discharge</h2>
      <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th class="text-center" style="width: 50px;">D</th>
              <th class="text-center" style="width: 50px;">E</th>
              <th class="text-center" style="width: 50px;">C</th>
              <th class="text-center" style="width: 50px;">P</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Smith</td>
              <td>Ward 5<br/>Bed 5</td>
              <td class="text-center"><span class="fas fa-check"></span></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>